<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMoq" version="1.6.1" />
  <package id="FluentAssertions" version="1.7.1.1" />
  <package id="mongocsharpdriver" version="1.4.2" />
  <package id="Moq" version="4.0.10827" />
  <package id="NUnit" version="2.6.0.12054" />
  <package id="SpecFlow" version="1.8.1" />
  <package id="SpecFlow.NUnit" version="1.0" />
  <package id="Unity" version="2.0" />
</packages>